 <!-- question details -->
 <ng-container *ngFor="let question of questions;let i = index" >
 <div class="main-card" *ngIf="i == currentIndex" @fade>
  <div class="desc">
    <h3 class="mb-0">
      <span *ngIf="question.required"  class="required">*</span>
      {{ question.headline }}
    </h3>
  </div>
  <ng-container *ngIf="questionType.multipleChoice == question.question_type" >
    <div class="input-wrapper" *ngFor="let choice of question.choices;let choiceIndex = index" >
      <app-input-radio-control
        *ngIf="question.multiple == 'false'"
        [id]="question.identifier + choice.value"
        [name]="question.identifier"
        [label]="choice.label"
        [value]="choice.value"
        [checked]="choice.selected"
        (itemClick)="onSelectOption(choiceIndex)"
      ></app-input-radio-control>
      <app-input-checkbox-control
        *ngIf="question.multiple == 'true'"
        [id]="question.identifier + choice.value"
        [label]="choice.label"
        [value]="choice.value"
        [(checked)]="choice.selected"
        (itemClick)="onSelectOption(choiceIndex)"
      ></app-input-checkbox-control>
    </div>
  </ng-container>
  <ng-container *ngIf="questionType.text == question.question_type" >
    <div class="input-wrapper text-wrapper">
      <textarea [(ngModel)]="question.description" (ngModelChange)="onTextInputChange(question.description)" class="input-text"></textarea>
    </div>
  </ng-container>

  <div class="controls">
    <button
      *ngIf="currentIndex != 0"
      (click)="onPreviousClick()"
      class="btn btn-left"> früher
    </button>
    <button
      *ngIf="currentIndex != questions.length - 1"
      (click)="onNextClick()"
      class="btn btn-right"> nächste
    </button>
  </div>
  <div class="start-btn" *ngIf="quizFinished" >
    <button (click)="finishQuiz()" class="btn"> Beenden Sie den Fragebogen </button>
  </div>
</div>
</ng-container>
